html, body
{
    min-width: 100%;
    min-height: 100%;
    background-image: url('images/app-favorites/arriereplan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

::selection
{
    background-color: black;
    color: white;
}

img
{
    color: white;
}

/* HEADER */

header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px gainsboro;
    position: fixed;
    top: 0;
}

/* NAVIGATION HEADER */

nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul
{
    list-style-type: none;
}

nav ul li:hover
{
    display: block;
    text-align: center;
}

.a-nav
{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: black;
}

/* MAIN */

main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 15%;
    width: 100%;
}

/* DIAPORAMA */

section
{
    width: 550px;
}

h1
{
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: black 0.1px 0.1px 3px;
}

.diaporama
{
    position: relative;
}

.diaporama input[type=radio]
{
    display: none;
}

.boutons
{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    z-index: 100;
    text-align: center;
}

.boutons label
{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 3px;
    background: white;
    cursor: pointer;   
    border: 3px solid white;
    border-radius: 51%;    
    box-shadow: 1px 3px 5px gainsboro; 
    transition: background-color .1s;
}

#btn-1:checked ~ .boutons label[for="btn-1"],
#btn-2:checked ~ .boutons label[for="btn-2"],
#btn-3:checked ~ .boutons label[for="btn-3"]
{ 
    background-color: black;
}

#btn-1:checked ~ .interieur .defilement
{ 
    transform: translate(0);
}

#btn-2:checked ~ .interieur .defilement
{ 
    transform: translate(-550px);
}

#btn-3:checked ~ .interieur .defilement
{ 
    transform: translate(-1100px);
}

.interieur
{
    overflow: hidden;
    box-shadow: 0 0 11px 1px black;
}

.defilement
{
    width: 300%;
    transition: transform .6s ease;
}

.defilement .img
{
    float: left;
    width: 550px;
    height: 320px;
}

/* FOOTER */

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: white;
    border-top: solid 1px gainsboro;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* LOGOS */

#flex-logos
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#a-logodiscord
{
    text-decoration: none;
    text-align: center;
    width: 3.7%;
    margin-left: 5%;
}

#logo-discord
{
    width: 100%;
}

#a-logofacebook
{
    text-decoration: none;
    text-align: center;
    width: 3.7%;
    margin: 0 11%;

}

#logo-facebook
{
    width: 100%;
}

#a-logoinstagram
{
    text-decoration: none;
    text-align: center;
    width: 4%;
    margin-right: 5%;

}

#logo-instagram
{
    width: 100%;
}

#logo-discord:hover , #logo-facebook:hover , #logo-instagram:hover
{
    transform: scale(1.1);
}

/* NAVIGATION FOOTER */

#flex-afooter
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.a-footer
{
    text-decoration:none;
    color: black;
    font-size: 11px;
    margin: 0 15%;
}

.a-footer:hover
{
    transform: scale(1.1);
}