body
{
    background-image: url(Instagram.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    background-image: linear-gradient(to bottom, #eb643f, #9c3d98);
}
.p1
{
    font-size: 25px;
    font-family: georgia, serif;
    text-align: left;
    text-decoration: none;
    color: white;
    margin-left: 135px;
}
.p2
{
    font-size: 12.5px;
    font-family: cursive;
    color: white;
    text-align: left;
    margin-left: 65px;
    margin-top: -35px;
}
.gauche
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: left;
    margin-left: 15px;
    margin-top: 55px;
}
.logo
{
    width: 55px;
    height: 55px;
    margin-left: 75px;
    margin-top: 15px;
    justify-content: center;
}
.paragraphe3
{
    display: block;
    block-size: auto;
    background-color: white;
    margin-left: 5px;
}
.p3
{
    font-size: 13px;
    font-family: cursive;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #9c3d98;
}
.paragraphe4-5
{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 115px;
    margin-top: 15px;
}
.p4
{
    font-size: 13px;
    font-family: cursive;
    text-align: left;
    margin-left: 45px;
    color: white;
}
.p5
{
    font-size: 13px;
    font-family: cursive;
    text-align: left;
    margin-left: 25px;
    color: white;
}
.insta1
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
.image1
{
    width: 355px;
    height: 615px;
    margin-top: -525px;
    margin-right: 95px;
}
.insta2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image2
{
    width: 455px;
    height: 715px;
    margin-top: -665px;
    margin-left: 85px;
}